*{
margin:0px;
padding:0px;
max-height:100vh;
max-width:100vw;
box-sizing:border-box;
}
table{
border-spacing:0px;
background-color:#EDF1FF;
}
li{
box-sizing:border-box;
font-size:4vh;
margin-top:5px;
list-style-position:inside;
}
.head{
box-sizing:border-box;
color:white;
background:black;
text-align:center;
height:10vh;
width:100vw;
font-size:6vh;
padding-top:1vh;;
font-weigth:bold;
font-style:italic;
}
#first{
border:1px solid black;
height:90vh;
width:50vw;
font-weight:bold;
font-size:6vh;
font-style:italic;
box-sizing:border-box;
padding:10px;
vertical-align:unset;
}
#second{
border:1px solid black;
height:45vh;
width:50vw;
font-weight:bold;
font-size:6vh;
font-style:italic;
box-sizing:border-box;
padding:10px;
vertical-align:unset;
}
#third{
border:1px solid black;
height:45vh;
width:50vw;
font-weight:bold;
font-size:6vh;
font-style:italic;
box-sizing:border-box;
padding:10px;
vertical-align:unset;
}
